In [2]:
# import snscrape.base
import snscrape.modules.twitter as sntwitter
import pandas as pd
import itertools

search = '#suicide since:2015-01-01 until:2021-09-26 lang:en' # -filter:nativeretweets'

# the scraped tweets, this is a generator
scraped_tweets = sntwitter.TwitterSearchScraper(search).get_items()

# slicing the generator to keep only the first 10000 tweets
sliced_scraped_tweets = itertools.islice(scraped_tweets, 10000)

# convert to a DataFrame and keep only relevant columns
df = pd.DataFrame(sliced_scraped_tweets)[['date','content']]

In [10]:

df.head()

                       date                                            content
0 2021-09-25 23:52:47+00:00  Really frustrates me when people keep banging ...
1 2021-09-25 23:51:44+00:00  What is "chronically suicidal"? What's the cut...
2 2021-09-25 23:25:11+00:00  another appalling case of neglect resulting in...
3 2021-09-25 23:17:26+00:00  More impactful work from @HeatherSchatten and ...
4 2021-09-25 23:04:01+00:00  St. Luke’s campuses are illuminated purple for...

In [4]:
df.isnull().sum()

date       0
content    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     10000 non-null  datetime64[ns, UTC]
 1   content  10000 non-null  object
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 156.4+ KB

In [11]:
df.columns

Index(['date', 'content'], dtype='object')

In [8]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [date, content]
Index: []

In [7]:
df.to_csv(r"C:\Users\bsaip\OneDrive\Desktop\temp.csv")

In [9]:
df.isnull().sum()

date       0
content    0
dtype: int64

In [17]:
# removing punctuation marks
import string
# string.punctuation
def remove_punctuation(text):
    no_punct=[words for words in text if words not in string.punctuation]
    words_wo_punct=''.join(no_punct)
    return words_wo_punct

In [18]:
df['content_wo_punct']=df['content'].apply(lambda x: remove_punctuation(x))
df.head()

,date,content,content_wo_punct
0,2021-09-25 23:52:47+00:00,Really frustrates me when people keep banging ...,Really frustrates me when people keep banging ...
1,2021-09-25 23:51:44+00:00,"What is ""chronically suicidal""? What's the cut...",What is chronically suicidal Whats the cut off...
2,2021-09-25 23:25:11+00:00,another appalling case of neglect resulting in...,another appalling case of neglect resulting in...
3,2021-09-25 23:17:26+00:00,More impactful work from @HeatherSchatten and ...,More impactful work from HeatherSchatten and M...
4,2021-09-25 23:04:01+00:00,St. Luke’s campuses are illuminated purple for...,St Luke’s campuses are illuminated purple for ...

In [20]:
import re
# tokenizing words
def tokenize(text):
    split=re.split("\W+",text) 
    return split
df['content_wo_punct_split']=df['content_wo_punct'].apply(lambda x: tokenize(x.lower()))
df.head()

,date,content,content_wo_punct,content_wo_punct_split
0,2021-09-25 23:52:47+00:00,Really frustrates me when people keep banging ...,Really frustrates me when people keep banging ...,"[really, frustrates, me, when, people, keep, b..."
1,2021-09-25 23:51:44+00:00,"What is ""chronically suicidal""? What's the cut...",What is chronically suicidal Whats the cut off...,"[what, is, chronically, suicidal, whats, the, ..."
2,2021-09-25 23:25:11+00:00,another appalling case of neglect resulting in...,another appalling case of neglect resulting in...,"[another, appalling, case, of, neglect, result..."
3,2021-09-25 23:17:26+00:00,More impactful work from @HeatherSchatten and ...,More impactful work from HeatherSchatten and M...,"[more, impactful, work, from, heatherschatten,..."
4,2021-09-25 23:04:01+00:00,St. Luke’s campuses are illuminated purple for...,St Luke’s campuses are illuminated purple for ...,"[st, luke, s, campuses, are, illuminated, purp..."

In [24]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stopword = stopwords.words('english')

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bsaip\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [25]:
def remove_stopwords(text):
    text=[word for word in text if word not in stopword]
    return text
df['content_wo_punct_split_wo_stopwords'] = df['content_wo_punct_split'].apply(lambda x: remove_stopwords(x))
df.head()

,date,content,content_wo_punct,content_wo_punct_split,content_wo_punct_split_wo_stopwords
0,2021-09-25 23:52:47+00:00,Really frustrates me when people keep banging ...,Really frustrates me when people keep banging ...,"[really, frustrates, me, when, people, keep, b...","[really, frustrates, people, keep, banging, dr..."
1,2021-09-25 23:51:44+00:00,"What is ""chronically suicidal""? What's the cut...",What is chronically suicidal Whats the cut off...,"[what, is, chronically, suicidal, whats, the, ...","[chronically, suicidal, whats, cut, whats, beg..."
2,2021-09-25 23:25:11+00:00,another appalling case of neglect resulting in...,another appalling case of neglect resulting in...,"[another, appalling, case, of, neglect, result...","[another, appalling, case, neglect, resulting,..."
3,2021-09-25 23:17:26+00:00,More impactful work from @HeatherSchatten and ...,More impactful work from HeatherSchatten and M...,"[more, impactful, work, from, heatherschatten,...","[impactful, work, heatherschatten, michaelarme..."
4,2021-09-25 23:04:01+00:00,St. Luke’s campuses are illuminated purple for...,St Luke’s campuses are illuminated purple for ...,"[st, luke, s, campuses, are, illuminated, purp...","[st, luke, campuses, illuminated, purple, reco..."